body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Sedgwick Ave', cursive;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#picture{
    width:75px;
}
#picture1 {
    width:300px;
}



.jumbotron {
    background-image: url('Images/closet2.jpg');
    background-size: cover;
    padding-bottom: 375px;
    font-size:large;
    color:ghostwhite;
    text-align:center;
     margin:0px;
    line-height:5;
    font-size:30px;
    border:0px;
}
.navbar-brand {
    color:ghostwhite !important;
}
.nav a {
    color:ghostwhite !important;
}
.col-md-12 {
    background-color:darkgrey;
    color:white;
    text-align:center;
}
#bar {
    font-style:italic;
}
#index {
    text-align:center;
    
}
#basic {
    text-align:center;
    background-image: url('Images/colors1.jpg');
    background-size:cover;
    color:white;
    
    
  
    
}
#evy {
    line-height: 5;
    font-size: 20px;
    background-image: url('Images/season.jpg');
    padding:5px;
}
#occ {
    line-height: 7;
    font-size: 20px;
    border-style:solid;
    margin:0px;
    
    
}


#index {
    color:black;
}
.nav a {
    font-style:italic;
}
#Annette {
    line-height: 5;
    font-size: 20px;
    background-image: url('Images/occasion.jpg');
    padding: 5px;
    width:20%;
    align-content:center;
    color:white;
}
 
 

