@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Closet App</h1>
    <br />
    <p></p>
    <p>A great App that helps you find whats in your closet!</p>
</div>

<div class="row container-fluid">
    <div class="col-md-12">
        <h1>Inventory</h1>
        <p>
           Click the link below to see Details, Edit , Delete, and Create your closet items.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Items")">View</a></p>
    </div>
</div>